extends ../../layouts/default.pug
include ../../mixins/box-head.pug


block main

    .container.my-3
        
        include ../../partials/list-btn-users.pug

        .row 
            .col-12 
                +box-head(pageTitle)

        .row 
            .col-12 
                .chat(my-id=user.id)
                    .inner-body 
                        each chat in chats 
                            div(class = (chat.user_id == user.id ? 'inner-outgoing' : 'inner-incoming'))
                                if chat.user_id != user.id
                                    .inner-info
                                        img(src=(chat.infoUser.avatar ? chat.infoUser.avatar : '/client/image/avatar_default.jpg') alt =chat.infoUser.fullName)
                                        <span class="inner-name"> #{chat.infoUser.fullName} </span>
                                if(chat.content)
                                    .inner-content 
                                        | #{chat.content}
                                if(chat.images && chat.images.length > 0)
                                    .inner-images
                                        each image in chat.images
                                            img(src=image class="chat-image")
                        div(class="inner-typing-list")
                            //- div(class="box-typing")
                            //-     div(class="inner-name") Le Van A
                            //-     div(class="inner-dots")
                            //-         span
                            //-         span
                            //-         span
                            //- div(class="box-typing")
                            //-     div(class="inner-name") Le Van B
                            //-     div(class="inner-dots")
                            //-         span
                            //-         span
                            //-         span
                    .inner-preview-panel 
                        div(class="custom-file-container" data-upload-id="upload-images")
                    .inner-footer
                        form(action="#" class="inner-form")
                            input(type="text" placeholder="Nhập tin nhắn..." name="content")
                            label(class="image-icon ms-3 me-3" for="file-upload-with-preview-upload-images")
                                i.fa-regular.fa-image
                            span(class="emoji-icon me-3")
                                i.fa-regular.fa-face-smile
                            button 
                                i.fa-solid.fa-paper-plane
        
    div(class="tooltip" role="tooltip")
        emoji-picker(class="light")