extends ../../layouts/default.pug
include ../../mixins/box-head.pug


block main

    .container.my-3
        .row 
            .col-12 
                +box-head(pageTitle)

        .row 
            .col-12 
                .chat 
                    .inner-body 
                        each chat in chats 
                            div(class = (chat.user_id == user.id ? 'inner-outgoing' : 'inner-incoming'))
                                if chat.user_id != user.id
                                    .inner-info
                                        img(src=(chat.infoUser.avatar ? chat.infoUser.avatar : '/client/image/avatar_default.jpg') alt =chat.infoUser.fullName)
                                        <span class="inner-name"> #{chat.infoUser.fullName} </span>
                                .inner-content 
                                    | #{chat.content}
                        //- .inner-incoming
                        //-     .inner-name John Doe
                        //-     .inner-content 
                        //-         | Hello, how are you?
                        //- .inner-outgoing
                        //-     .inner-content 
                        //-         | I'm good, thanks! How about you?
                        //- .inner-incoming
                        //-     .inner-name John Doe
                        //-     .inner-content 
                        //-         | I'm doing well, thank you!
                        //- .inner-outgoing
                        //-     .inner-content 
                        //-         | That's great to hear!
                        //- .inner-incoming
                        //-     .inner-name John Doe
                        //-     .inner-content 
                        //-         | What are your plans for the weekend?
                        //- .inner-outgoing
                        //-     .inner-content 
                        //-         | I'm thinking of going hiking. How about you?
                        //- .inner-incoming
                        //-     .inner-name John Doe
                        //-     .inner-content 
                        //-         | That sounds fun! I might join you if that's okay.
                        //- .inner-outgoing
                        //-     .inner-content 
                        //-         | Absolutely! The more, the merrier.
                    .inner-footer
                        form(action="#" class="inner-form")
                            input(type="text" placeholder="Type your message..." name="content")
                            button 
                                i.fa-solid.fa-paper-plane
        