extends ../../layouts/default.pug
include ../../mixins/box-head.pug


block main

    .container.my-3
        .row 
            .col-12 
                +box-head(pageTitle)

        .row 
            .col-12 
                .chat(my-id=user.id)
                    .inner-body 
                        each chat in chats 
                            div(class = (chat.user_id == user.id ? 'inner-outgoing' : 'inner-incoming'))
                                if chat.user_id != user.id
                                    .inner-info
                                        img(src=(chat.infoUser.avatar ? chat.infoUser.avatar : '/client/image/avatar_default.jpg') alt =chat.infoUser.fullName)
                                        <span class="inner-name"> #{chat.infoUser.fullName} </span>
                                .inner-content 
                                    | #{chat.content}
                        div(class="inner-typing-list")
                            div(class="box-typing")
                                div(class="inner-name") Le Van A
                                div(class="inner-dots")
                                    span
                                    span
                                    span
                            div(class="box-typing")
                                div(class="inner-name") Le Van B
                                div(class="inner-dots")
                                    span
                                    span
                                    span
                    .inner-footer
                        form(action="#" class="inner-form")
                            input(type="text" placeholder="Nhập tin nhắn..." name="content")
                            span(class="emoji-icon")
                                i.fa-regular.fa-face-smile
                            button 
                                i.fa-solid.fa-paper-plane
        
    div(class="tooltip" role="tooltip")
        emoji-picker(class="light")