doctype html 
html 
    head 
        title= pageTitle
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/admin/css/style.css")
    body 
        if(role.permissions.length > 0)
            include ../partials/header.pug

            .body
                
                include ../partials/sider.pug

                .main 
                    block main
        else    
            include ../mixins/no-perm.pug
            +no-perm()
            
        script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js")

        script(src="https://cdn.tiny.cloud/1/rl1z5l3xd8hrf0m3czzdmmd0stfnw478m31s67ce9w4406h9/tinymce/8/tinymce.min.js" referrerpolicy="origin" crossorigin="anonymous")
        script(src="/admin/js/tinymce-config.js")

        script(src="/admin/js/script.js")

        