mixin pagination(pagination)
    nav
        ul(class="pagination")
            if pagination.currentPage > 1
                li(class="page-item")
                    button(
                        class=`page-link`
                        pages = 1
                        ) &lt;&lt;
                li(class="page-item")
                    button(
                        class=`page-link`
                        pages = pagination.currentPage - 1
                        ) &lt;
            - for (var i = 1; i <= pagination.totalPages; i++)
                li(class=`page-item ${pagination.currentPage == i ? "active" : ""}`)
                    button(
                        class="page-link"
                        pages = i
                        ) #{i}
            if pagination.currentPage < pagination.totalPages
                li(class="page-item")
                    button(
                        class=`page-link`
                        pages = pagination.currentPage + 1
                        ) &gt;
                li(class="page-item")
                    button(
                        class=`page-link`
                        pages = pagination.totalPages
                        ) &gt;&gt;